<a href="https://colab.research.google.com/github/EduardoWS/python-for-ML/blob/main/listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas em Python

In [1]:
lista1 = [1, 2, 3]
type(lista1)

list

In [8]:
lista2 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
lista2[0][0]

1

In [16]:
import random
cidades = ["São Paulo", "São Carlos", "Florianópolis", "Belo Horizonte"]
escolhida = random.choice(cidades)
print("A cidade escolhida é:", escolhida)

A cidade escolhida é: São Carlos

In [17]:
a = [1, 2, 3]
a.append(15)
print(a)

[1, 2, 3, 15]

In [18]:
b = [16, 17, 18]

In [19]:
for i in b:
  a.append(i)
print(a)

[1, 2, 3, 15, 16, 17, 18]

# Exercício

Transformar os elementos da lista x em float

In [23]:
x = [2, 4, 6, 10]
type(x[0])

int

Resolução:

In [22]:
y = []
for i in x:
  y.append(float(i))

print(y)

[2.0, 4.0, 6.0, 10.0]