<a href="https://colab.research.google.com/github/EduardoWS/python-for-ML/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comandos do Pandas

In [16]:
import pandas as pd

alunos = {'Nomes': ['Eduardo', 'Carol', 'Leonardo', 'Ricardo'],
          'Notas': [9, 4, 10, 6],
          'Aprovado': ['Sim', 'Não', 'Sim', 'Sim']}

In [17]:
dataframe = pd.DataFrame(alunos)    #transforma o dicionário "alunos" em um dataframe

In [18]:
print(dataframe)

      Nomes  Notas Aprovado
0   Eduardo      9      Sim
1     Carol      4      Não
2  Leonardo     10      Sim
3   Ricardo      6      Sim

In [4]:
objeto1 = pd.Series([10, 2, 3, 7])
print(objeto1)

0    10
1     2
2     3
3     7
dtype: int64

In [5]:
import numpy as np

array1 = np.array([2, 3, 4, 6])
print(array1)

[2 3 4 6]

In [6]:
objeto2 = pd.Series(array1)
print(objeto2)

0    2
1    3
2    4
3    6
dtype: int64

<hr>

In [21]:
dataframe.head()    #comando para mostrar o cabeçalho, ajuda a explorar o dataset

      Nomes  Notas Aprovado
0   Eduardo      9      Sim
1     Carol      4      Não
2  Leonardo     10      Sim
3   Ricardo      6      Sim

In [8]:
dataframe.shape     #comando para saber quantas linhas e colunas tem

(4, 3)

In [22]:
dataframe.describe()

           Notas
count   4.000000
mean    7.250000
std     2.753785
min     4.000000
25%     5.500000
50%     7.500000
75%     9.250000
max    10.000000