<a href="https://colab.research.google.com/github/EduardoWS/python-for-ML/blob/main/pandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Comandos do Pandas

In [2]:
import pandas as pd

alunos = {'Nomes': ['Eduardo', 'Carol', 'Leonardo', 'Ricardo'],
          'Notas': [9, 4, 10, 6],
          'Aprovado': ['Sim', 'Não', 'Sim', 'Sim']}

In [3]:
dataframe = pd.DataFrame(alunos)    #transforma o dicionário "alunos" em um dataframe

In [4]:
print(dataframe)

      Nomes  Notas Aprovado
0   Eduardo      9      Sim
1     Carol      4      Não
2  Leonardo     10      Sim
3   Ricardo      6      Sim

In [5]:
objeto1 = pd.Series([10, 2, 3, 7])
print(objeto1)

0    10
1     2
2     3
3     7
dtype: int64

In [6]:
import numpy as np

array1 = np.array([2, 3, 4, 6])
print(array1)

[2 3 4 6]

In [7]:
objeto2 = pd.Series(array1)
print(objeto2)

0    2
1    3
2    4
3    6
dtype: int64

<hr>

In [8]:
dataframe.head()    #comando para mostrar o cabeçalho, ajuda a explorar o dataset

      Nomes  Notas Aprovado
0   Eduardo      9      Sim
1     Carol      4      Não
2  Leonardo     10      Sim
3   Ricardo      6      Sim

In [9]:
dataframe.shape     #comando para saber quantas linhas e colunas tem

(4, 3)

In [10]:
dataframe.describe()

           Notas
count   4.000000
mean    7.250000
std     2.753785
min     4.000000
25%     5.500000
50%     7.500000
75%     9.250000
max    10.000000

<hr>

# Filtrando linhas e colunas em uma tabela

In [11]:
import pandas as pd

alunosDIC = {'Nome': ['Pedro', 'Jane', 'Arthur', 'Paula', 'Robert'],
             'Nota': [9, 10, 10, 4, 5],
             'Aprovado': ['Sim', 'Sim', 'Sim', 'Não', 'Sim']}

In [12]:
alunosDF = pd.DataFrame(alunosDIC)

In [13]:
print(alunosDF)

     Nome  Nota Aprovado
0   Pedro     9      Sim
1    Jane    10      Sim
2  Arthur    10      Sim
3   Paula     4      Não
4  Robert     5      Sim

In [14]:
alunosDF['Nome']

0     Pedro
1      Jane
2    Arthur
3     Paula
4    Robert
Name: Nome, dtype: object

In [15]:
alunosDF['Nota']

0     9
1    10
2    10
3     4
4     5
Name: Nota, dtype: int64

In [20]:
alunosDF.loc[[0,3]]       #localiza as linhas da lista pelo índice

    Nome  Nota Aprovado
0  Pedro     9      Sim
3  Paula     4      Não

In [21]:
alunosDF.loc[1:3]       #localiza as linhas do índice 1 até o 3

     Nome  Nota Aprovado
1    Jane    10      Sim
2  Arthur    10      Sim
3   Paula     4      Não

In [22]:
alunosDF.loc[alunosDF['Nome']=='Robert']   #localiza as linhas com nome "Robert"

     Nome  Nota Aprovado
4  Robert     5      Sim

In [25]:
alunosDF.loc[alunosDF['Nota']==10]    #localiza as linhas com notas 10

     Nome  Nota Aprovado
1    Jane    10      Sim
2  Arthur    10      Sim

<hr>

# Manipulando linhas de dataframes pandas

In [26]:
print(alunosDF)

     Nome  Nota Aprovado
0   Pedro     9      Sim
1    Jane    10      Sim
2  Arthur    10      Sim
3   Paula     4      Não
4  Robert     5      Sim

In [27]:
primeiraslinhas = alunosDF.loc[0:2]   #criando um novo dataframe e excluindo linhas

In [28]:
print(primeiraslinhas)  #novo dataframe sem as linhas 3 e 4

     Nome  Nota Aprovado
0   Pedro     9      Sim
1    Jane    10      Sim
2  Arthur    10      Sim

In [29]:
alunosReprovados = alunosDF.loc[alunosDF['Nota']<5]

In [30]:
print(alunosReprovados)

    Nome  Nota Aprovado
3  Paula     4      Não

<hr>

# Manipulando colunas em um dataframe pandas

In [32]:
import pandas as pd

dados = pd.read_csv('/content/athlete_events.csv')

In [33]:
dados.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [34]:
dados.rename(columns={'Name':'Nome', 'Sex':'Sexo'}) #troca o nome das colunas

,ID,Nome,Sexo,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [38]:
dados.rename(columns={'Name':'Nome', 'Sex':'Sexo'}, inplace = True) #não mostra o resultado

In [39]:
dados['Medal'].value_counts()   #conta todos os tipos que existem nessa coluna

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [40]:
dados['Sexo'].value_counts()

M    196594
F     74522
Name: Sexo, dtype: int64

In [41]:
dados['City'].value_counts()

London                    22426
Athina                    15556
Sydney                    13821
Atlanta                   13780
Rio de Janeiro            13688
Beijing                   13602
Barcelona                 12977
Los Angeles               12423
Seoul                     12037
Munich                    10304
Montreal                   8641
Mexico City                8588
Helsinki                   8270
Roma                       8119
Tokyo                      7702
Moskva                     7191
Paris                      7169
Berlin                     6506
Amsterdam                  4992
Sochi                      4891
Melbourne                  4829
Vancouver                  4402
Torino                     4382
Stockholm                  4338
Antwerpen                  4292
Salt Lake City             4109
Innsbruck                  3639
Nagano                     3605
Albertville                3436
Lillehammer                3160
Calgary                    2639
Sarajevo                   2134
Lake Placid                2098
Grenoble                   1891
Sankt Moritz               1657
Sapporo                    1655
Cortina d'Ampezzo          1307
St. Louis                  1301
Squaw Valley               1116
Oslo                       1088
Garmisch-Partenkirchen      895
Chamonix                    460
Name: City, dtype: int64