<a href="https://colab.research.google.com/github/EduardoWS/python-for-ML/blob/main/Wine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

dados = pd.read_csv('/content/wine_dataset (1).csv')

In [12]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [13]:
dados['style'] = dados['style'].replace('white', 1)
dados['style'] = dados['style'].replace('red', 0)

In [14]:
dados.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [15]:
#separando as variáveis entre preditoras e variável alvo
y = dados['style']
x = dados.drop('style', axis=1)

In [18]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de dados de treino e teste:
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.3)

In [19]:
x_treino.shape

(4547, 12)

In [20]:
x_teste.shape

(1950, 12)

In [21]:
y_treino.shape

(4547,)

In [22]:
y_teste.shape

(1950,)

In [26]:
from sklearn.ensemble import ExtraTreesClassifier

#criação do modelo:
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

#imprimindo resultados:
resultado = modelo.score(x_teste, y_teste)
print(f'Acurácia: {resultado*100:.2f}%')

Acurácia: 99.69%

In [27]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
1117,7.0,0.69,0.07,2.5,0.091,15.0,21.0,0.99572,3.38,0.60,11.3,6
5576,6.9,0.27,0.25,7.5,0.030,18.0,117.0,0.99116,3.09,0.38,13.0,6
4838,6.6,0.34,0.24,3.3,0.034,29.0,99.0,0.99031,3.10,0.40,12.3,7

In [28]:
y_teste[400:403]

1117    0
5576    1
4838    1
Name: style, dtype: int64

In [29]:
#prever usando o modelo criado

previsao = modelo.predict(x_teste[400:403])

In [30]:
previsao

array([0, 1, 1])